/* General Styling of Site Body */
body, html {
  margin: 0;
  padding: 0;
}

/* paragraph text styling */
p {
  font-family: 'Playfair Display';
  color: black;
  font-size: 10pt;
  margin-bottom: 0.1em;
}

/* entire site container set to flex box */
.outerContainer {
  display: flex;
}

/* main site contains article text  */
.mainSite {
  width: 100%;
  margin: 60px;
}

/* image on side of audrey sitting */
.sideImage {
  width: 100%;
}
.sideImage img{
  width: 100vw;
  object-fit: fill;
}

/* Styling for "Audrey" Title */
.sectionContainer > p {
  display: flex;
  margin: -235px 95px -20px 0;
  justify-content: center;
  font-family: 'Oswald';
  font-size: 265pt;
  font-weight: bolder;
  /* transformt to stretch text in vertical direction */
  transform: scaleY(1.2);
  transform-origin: 0 0;
  /* letters pushed closer together with negative pixel value */
  letter-spacing: -15px;
}


/* container for image and text at top*/
.twoColumnContainer {
  display: flex;
}

/* styling for top red quote */
.twoColumnContainer div p {
  width: 100%;
  font-family: 'Playfair Display';
  color: #BF4E58;
  font-size: 38pt;
  line-height: 15px;
}

/* style for image in contianer (small image in top right corner) */
.twoColumnContainer img {
  display: flex;
  width: 40%;
  height: 40vh;
  object-fit: fill;
  padding: 20px;
  margin-top: 70px;
}

/* Article Content*/
.contentContainer {
  display: flex;
}

/* Styling for Article Text */
.contentContainer > div p {
  text-indent: 35px;
  margin: 0;
  text-align: justify;
}

/* column A and B contain columns of text */
.columnA {
  margin-left: 10vw;
  padding: 20px 0 20px 40px;
  width: 100%;
}
.columnB {
  margin-right: 20vw;
  padding: 20px 0 20px 20px;
  display:flex;
  flex-direction: column;
  width: 100%;
}

/* margin to create white space for red text */
.columnB div {
  margin-bottom: 205px;
}

/* Second Red Quote */
#redText {
  position: absolute;
  top: 845px;
  right: 18px;
  margin-right: 20px;
  text-align: center;
  font-family: 'Playfair Display';
  color: #BF4E58;
  font-size: 36pt;
}
